{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block content %}
    <div class="flex flex-col min-h-screen bg-background">
        <main class="flex-auto py-5">
            <div class="max-w-7xl space-y-14 px-4 mx-auto">
                <div class="space-y-8">
                    <div class="grid md:grid-cols-12 grid-cols-1 items-start gap-5">

                        <div class="lg:col-span-9 md:col-span-8">
                            <!-- courses:wrapper -->
                            <div class="grid lg:grid-cols-2 sm:grid-cols-2 gap-x-5 gap-y-10">

                                {% for weblog in weblogs %}
                                    <!-- course:card -->
                                    <div class="relative">
                                        <div class="relative z-10">
                                            <a href="{% url 'weblog:detail' weblog.slug %}" class="block">
                                                <img src="{{ weblog.cover_image.url }}" class="max-w-full rounded-3xl"
                                                     alt="تصویر وبلاگ {{ weblog.title }}"/>
                                            </a>
                                            <a href="{% url 'weblog:by_category' weblog.category.slug %}"
                                               class="absolute left-3 top-3 h-11 inline-flex items-center justify-center gap-1 bg-black/20 rounded-full text-white transition-all hover:opacity-80 px-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                     fill="currentColor" class="w-6 h-6">
                                                    <path fill-rule="evenodd"
                                                          d="M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3V6ZM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-2.25Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3v-2.25Z"
                                                          clip-rule="evenodd"></path>
                                                </svg>
                                                <span class="font-semibold text-sm">{{ weblog.category.name }}</span>
                                            </a>
                                        </div>
                                        <div class="bg-background rounded-b-3xl -mt-12 pt-12">
                                            <div class="bg-gradient-to-b from-background to-secondary rounded-b-3xl space-y-2 p-5 mx-5">
                                                <h2 class="font-bold text-sm">
                                                    <a href="{% url 'weblog:detail' weblog.slug %}"
                                                       class="line-clamp-1 text-foreground transition-colors hover:text-primary">{{ weblog.title }}</a>
                                                </h2>
                                            </div>
                                            <div class="space-y-3 p-5">
                                                <div class="flex flex-wrap items-center gap-3">
                                                    <span class="block w-1 h-1 bg-muted-foreground rounded-full"></span>
                                                    <div class="flex items-center gap-1 text-muted">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                             fill="currentColor" class="w-5 h-5">
                                                            <path fill-rule="evenodd"
                                                                  d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-13a.75.75 0 0 0-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 0 0 0-1.5h-3.25V5Z"
                                                                  clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span class="font-semibold text-xs">{{ weblog.created_at|j_date_formatter }}</span>
                                                    </div>
                                                </div>
                                                <div class="flex items-center justify-between gap-5">
                                                    <div class="flex items-center gap-3">

                                                        {% if weblog.author.image %}
                                                            <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                                <img src="{{ weblog.author.image.url }}"
                                                                     class="w-full h-full object-cover"
                                                                     alt="تصویر نویسنده وبلاگ {{ weblog.title }}"/>
                                                            </div>
                                                        {% else %}
                                                            <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                                <img src="{% static 'images/avatars/author.JPG' %}"
                                                                     class="w-full h-full object-cover"
                                                                     alt="تصویر نویسنده وبلاگ {{ weblog.title }}"/>
                                                            </div>
                                                        {% endif %}

                                                        <div class="flex flex-col items-start space-y-1">
                                                            <span class="line-clamp-1 font-semibold text-xs text-muted">نویسنده وبلاگ: </span>
                                                            <a href="{% url 'account:profile' weblog.author.slug %}"
                                                               class="line-clamp-1 font-bold text-xs text-foreground hover:text-primary">{{ weblog.author.full_name }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex gap-3 mt-3">
                                                    <a href="{% url 'weblog:detail' weblog.slug %}"
                                                       class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                        <span class="line-clamp-1 font-semibold text-sm">مطالعه وبلاگ</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                             fill="currentColor" class="w-5 h-5">
                                                            <path fill-rule="evenodd"
                                                                  d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                                  clip-rule="evenodd"></path>
                                                        </svg>
                                                    </a>
                                                    <button type="button"
                                                            class="flex-shrink-0 w-11 h-11 inline-flex items-center justify-center bg-secondary rounded-full text-muted transition-colors hover:text-red-500">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                             fill="currentColor" class="w-5 h-5">
                                                            <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end course:card -->
                                {% endfor %}

                            </div>
                            <!-- courses:wrapper -->
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
{% endblock %}
