{% load static %}

<script src="{% static 'js/sweetalert2.js' %}"></script>
<script src="{% static 'js/like_comment_ajax.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'js/dependencies/alpinejs.min.js' %}"></script>
<script src="{% static 'js/dependencies/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/dependencies/plyr.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>