{% load static %}
<!-- user:info -->
<div class="flex items-center gap-5 mb-5">
    <div class="flex items-center gap-3">
        <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
            {% if user.image %}
                <img src="{{ user.image.url }}" class="w-full h-full object-cover"
                     alt="..."/>
            {% else %}
                <img src="{% static 'images/avatars/newsman.JPG' %}" class="w-full h-full object-cover"
                     alt="..."/>
            {% endif %}
        </div>
        <div class="flex flex-col items-start space-y-1">
            {% if request.user == user %}
                <span class="text-xs text-muted">خوش آمدید</span>
            {% endif %}
            <span class="line-clamp-1 font-semibold text-sm text-foreground cursor-default">{{ user.username }}</span>
        </div>
    </div>
</div>
<!-- end user:info -->
