{% load static %}
<!-- user:info -->
<div class="flex items-center gap-5 mb-5">
    <div class="flex items-center gap-3">
        <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
            <img src="{% static 'images/avatars/01.jpeg' %}" class="w-full h-full object-cover"
                 alt="..."/>
        </div>
        <div class="flex flex-col items-start space-y-1">
            <span class="text-xs text-muted">خوش آمدید</span>
            <span class="line-clamp-1 font-semibold text-sm text-foreground cursor-default">جلال
                                        بهرامی راد</span>
        </div>
    </div>
</div>
<!-- end user:info -->
