{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex flex-col min-h-screen bg-background" xmlns:x-bind="http://www.w3.org/1999/xhtml"
         xmlns:x-on="http://www.w3.org/1999/xhtml">
        {% include 'includes/header.html' %}

        <main class="flex-auto py-5">
            <!-- container -->
            <div class="max-w-7xl space-y-14 px-4 mx-auto">
                <div class="flex md:flex-nowrap flex-wrap items-start gap-5">
                    <div class="md:w-4/12 w-full md:sticky md:top-24 space-y-8">

                        <div class="space-y-5">
                            <div class="flex items-center gap-3">
                                <div class="flex items-center gap-1">
                                    <div class="w-1 h-1 bg-foreground rounded-full"></div>
                                    <div class="w-2 h-2 bg-foreground rounded-full"></div>
                                </div>

                            </div>
                            <div class="space-y-3">
                                <div class="flex items-center gap-3">
                                    <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                        {% if exam.designer.image %}
                                            <img src="{{ exam.designer.image.url }}"
                                                 class="w-full h-full object-cover"
                                                 alt="عکس طراح آزمون"/>
                                        {% else %}
                                            <img src="{% static 'images/avatars/default_exam_designer.JPG' %}"
                                                 class="w-full h-full object-cover"
                                                 alt="عکس طراح آزمون"/>
                                        {% endif %}
                                    </div>
                                    <div class="flex flex-col items-start space-y-1">
                                        <p class="line-clamp-1 font-bold text-sm text-foreground hover:text-primary">
                                            {{ exam.designer.full_name }}
                                        </p>
                                    </div>
                                </div>
                                {% if exam.designer.about_me %}
                                    <div class="bg-secondary rounded-tl-3xl rounded-b-3xl text-sm text-muted p-5">
                                        {{ exam.designer.about_me }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="advert-banner  ">
                                <div class="container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
                                    <div class="flex flex-wrap  g-3 items-center">
                                        <div class="w-full">
                                            <div class="advert-banner-item img-tilt" data-tilt>
                                                <a href="{{ banner_4.link }}">
                                                    <img src="{{ banner_4.file.url }}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="advert-banner  ">
                                <div class="container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
                                    <div class="flex flex-wrap  g-3 items-center">
                                        <div class="w-full">
                                            <div class="advert-banner-item img-tilt" data-tilt>
                                                <a href="{{ banner_4.link }}">
                                                    <img src="{{ banner_4.file.url }}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="advert-banner  ">
                                <div class="container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
                                    <div class="flex flex-wrap  g-3 items-center">
                                        <div class="w-full">
                                            <div class="advert-banner-item img-tilt" data-tilt>
                                                <a href="{{ banner_4.link }}">
                                                    <img src="{{ banner_4.file.url }}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:w-8/12 w-full">
                        <div class="relative">
                            <div class="-mt-12 pt-12">
                                <div class="space-y-10 py-5">
                                    <div class="grid lg:grid-cols-4 grid-cols-2 gap-5">


                                        <div class="flex flex-col items-center justify-center gap-3 bg-secondary border border-border rounded-2xl cursor-default p-3">
                                            <span class="flex items-center justify-center w-12 h-12 bg-background rounded-full text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                     fill="currentColor" class="w-5 h-5">
                                                    <path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <div class="flex flex-col items-center justify-center text-center space-y-1">
                                                <span class="font-bold text-xs text-muted line-clamp-1">شرکت‌کنندگان</span>
                                                <span class="font-bold text-sm text-foreground line-clamp-1">{{ exam.participated_users.count }}
                                                    دانشجو</span>
                                            </div>
                                        </div>

                                        <div class="flex flex-col items-center justify-center gap-3 bg-secondary border border-border rounded-2xl cursor-default p-3">
                                            <span class="flex items-center justify-center w-12 h-12 bg-background rounded-full text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                     fill="currentColor" class="w-5 h-5">
                                                    <path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <div class="flex flex-col items-center justify-center text-center space-y-1">
                                                <span class="font-bold text-xs text-muted line-clamp-1">زمان آزمون</span>
                                                <span class="font-bold text-sm text-foreground line-clamp-1">{{ exam.total_duration }}
                                                    </span>
                                            </div>
                                        </div>

                                        <div class="flex flex-col items-center justify-center gap-3 bg-secondary border border-border rounded-2xl cursor-default p-3">
                                            <span class="flex items-center justify-center w-12 h-12 bg-background rounded-full text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                     fill="currentColor" class="w-5 h-5">
                                                    <path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <div class="flex flex-col items-center justify-center text-center space-y-1">
                                                <span class="font-bold text-xs text-muted line-clamp-1">درجه سختی</span>
                                                <span class="font-bold text-sm text-foreground line-clamp-1">{{ exam.get_level_display }}
                                                    </span>
                                            </div>
                                        </div>

                                        <div class="flex flex-col items-center justify-center gap-3 bg-secondary border border-border rounded-2xl cursor-default p-3">
                                            <span class="flex items-center justify-center w-12 h-12 bg-background rounded-full text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                     fill="currentColor" class="w-5 h-5">
                                                    <path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <div class="flex flex-col items-center justify-center text-center space-y-1">
                                                <span class="font-bold text-xs text-muted line-clamp-1">نوع دوره</span>
                                                <span class="font-bold text-sm text-foreground line-clamp-1">{{ exam.get_type_display }}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- tabs container -->
                                    <div class="space-y-5"
                                         x-data="{ activeTab: 'tabOne', scroll: function() { document.getElementById(this.activeTab).scrollIntoView({ behavior: 'smooth' }) } }">
                                        <div class="sticky top-24 z-10">
                                            <!-- tabs:list-container -->
                                            <div class="relative overflow-x-auto">
                                                <!-- tabs:list -->
                                                <ul class="inline-flex gap-2 bg-secondary border border-border rounded-full p-1">
                                                    <!-- tabs:list:item -->
                                                    <li>
                                                        <button type="button"
                                                                class="flex items-center gap-x-2 relative rounded-full py-3 px-4"
                                                                x-bind:class="activeTab === 'tabOne' ? 'text-foreground bg-background' : 'text-muted'"
                                                                x-on:click="activeTab = 'tabOne'; scroll();">
                                                            <!-- active icon -->
                                                            <span x-show="activeTab === 'tabOne'">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 20 20" fill="currentColor"
                                                                     class="w-5 h-5">
                                                                    <path
                                                                            d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z">
                                                                    </path>
                                                                </svg>
                                                            </span><!-- end active icon -->

                                                            <!-- inactive icon -->
                                                            <span x-show="activeTab !== 'tabOne'">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="currentColor" class="w-5 h-5">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125">
                                                                    </path>
                                                                </svg>
                                                            </span><!-- end inactive icon -->

                                                            <span
                                                                    class="font-semibold text-sm whitespace-nowrap">معرفی</span>
                                                        </button>
                                                    </li><!-- end tabs:list:item -->

                                                    <!-- tabs:list:item -->
                                                    <li>
                                                        <button type="button"
                                                                class="flex items-center gap-x-2 relative rounded-full py-3 px-4"
                                                                x-bind:class="activeTab === 'tabTwo' ? 'text-foreground bg-background' : 'text-muted'"
                                                                x-on:click="activeTab = 'tabTwo'; scroll();">
                                                            <!-- active icon -->
                                                            <span x-show="activeTab === 'tabTwo'">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 20 20" fill="currentColor"
                                                                     class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                          d="M6 4.75A.75.75 0 016.75 4h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 4.75zM6 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 10zm0 5.25a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75a.75.75 0 01-.75-.75zM1.99 4.75a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 15.25a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 10a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1V10z"
                                                                          clip-rule="evenodd"></path>
                                                                </svg>
                                                            </span><!-- end active icon -->

                                                            <!-- inactive icon -->
                                                            <span x-show="activeTab !== 'tabTwo'">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="currentColor" class="w-5 h-5">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                                                                    </path>
                                                                </svg>
                                                            </span><!-- end inactive icon -->

                                                            <span
                                                                    class="font-semibold text-sm whitespace-nowrap">بخش‌های آزمون</span>
                                                        </button>
                                                    </li><!-- end tabs:list:item -->
                                                </ul><!-- end tabs:list -->

                                            </div><!-- end tabs:list-container -->
                                        </div>

                                        <!-- tabs:contents -->
                                        <div class="space-y-8">
                                            <!-- tabs:contents:tabOne -->
                                            <div class="bg-background rounded-3xl p-5" id="tabOne">
                                                <div class="flex items-center gap-3 mb-5">
                                                    <div class="flex items-center gap-1">
                                                        <div class="w-1 h-1 bg-foreground rounded-full"></div>
                                                        <div class="w-2 h-2 bg-foreground rounded-full"></div>
                                                    </div>
                                                    <div class="font-black text-foreground">{{ exam.name }}</div>
                                                </div>

                                                <!-- course:description -->
                                                <div class="description">
                                                    {{ exam.description|safe }}
                                                </div>
                                                <!-- end course:description -->
                                            </div><!-- end tabs:contents:tabOne -->

                                            <!-- tabs:contents:tabTwo -->
                                            <div class="bg-background rounded-3xl p-5" id="tabTwo">
                                                <!-- section:title -->
                                                <div class="flex items-center gap-3 mb-5">
                                                    <div class="flex items-center gap-1">
                                                        <div class="w-1 h-1 bg-foreground rounded-full"></div>
                                                        <div class="w-2 h-2 bg-foreground rounded-full"></div>
                                                    </div>
                                                    <div class="font-black text-foreground">بخش‌های آزمون</div>
                                                </div>
                                                <!-- end section:title -->

                                                {% for section in sections_names %}
                                                    <div class="space-y-1 mb-2">
                                                        <!-- episode -->
                                                        <div class="flex sm:flex-nowrap flex-wrap items-center gap-3 sm:h-12 border border-border rounded-xl p-3">
                                                            <span class="text-xs text-muted">{{ forloop.counter }}</span>
                                                            <div class="w-1 h-1 bg-muted-foreground rounded-full">
                                                            </div>
                                                            <p class="font-semibold text-xs text-foreground line-clamp-1 transition-all hover:text-primary">
                                                                {{ section }}
                                                            </p>
                                                            <div class="flex items-center justify-end gap-3 sm:w-auto w-full mr-auto">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                            <!-- end tabs:contents:tabTwo -->

                                            {% if exam.is_downloading_question_files_allowed %}
                                                <a href="{% url 'course:download_questions' exam.slug %}"
                                                   class="w-full h-11 inline-flex items-center justify-center gap-1 bg-black/70 rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                    <span class="line-clamp-1 font-semibold text-sm">دانلود سوالات آزمون</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                         class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m-6 3.75 3 3m0 0 3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75">
                                                        </path>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if exam.is_entrance_allowed %}
                                                {% if can_enter_exam %}
                                                    {% if is_user_registered %}
                                                        {% if can_be_continued %}
                                                            <a href="{% url 'course:enter_exam' exam.slug %}"
                                                               class="w-full h-11 inline-flex items-center justify-center gap-1 bg-warning rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                                <span class="line-clamp-1 font-semibold text-sm">ادامه آزمون</span>
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 20 20"
                                                                     fill="currentColor" class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                          d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                                          clip-rule="evenodd">
                                                                    </path>
                                                                </svg>
                                                            </a>
                                                        {% else %}
                                                            <a href="{% url 'course:enter_exam' exam.slug %}"
                                                               class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                                <span class="line-clamp-1 font-semibold text-sm">شروع آزمون</span>
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 20 20"
                                                                     fill="currentColor" class="w-5 h-5">
                                                                    <path fill-rule="evenodd"
                                                                          d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                                          clip-rule="evenodd">
                                                                    </path>
                                                                </svg>
                                                            </a>
                                                        {% endif %}
                                                    {% elif exam.type == "F" %}
                                                        <a href="{% url 'course:register_exam' exam.slug %}"
                                                           class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                            <span class="line-clamp-1 font-semibold text-sm">ثبت نام در آزمون</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                                 fill="currentColor" class="w-5 h-5">
                                                                <path fill-rule="evenodd"
                                                                      d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                                      clip-rule="evenodd">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    {% elif exam.type == "P" %}
                                                        <a href="#"
                                                           class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                            <span class="line-clamp-1 font-semibold text-sm">افزودن به سبد خرید</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                 viewBox="0 0 24 24" stroke-width="1.5"
                                                                 stroke="currentColor" class="w-5 h-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                      d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z">

                                                                </path>
                                                            </svg>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <p class="w-full h-11 inline-flex items-center justify-center gap-1 bg-error rounded-full text-primary-foreground transition-all px-4">
                                                    <span class="line-clamp-1 font-semibold text-sm">غیر مجاز</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                         class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z">
                                                        </path>
                                                    </svg>
                                                </p>
                                            {% endif %}
                                        </div>
                                        <!-- end tabs:contents -->

                                    </div>
                                    <!-- end tabs container -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:w-4/12 w-full md:sticky md:top-24 space-y-8">
                        <div class="space-y-5">
                            <div class="advert-banner px-1 ">
                                <div class="container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
                                    <div class="flex flex-wrap  g-3 items-center">
                                        <div class="w-full">
                                            <div class="advert-banner-item img-tilt" data-tilt>
                                                <a href="{{ banner_5.link }}">
                                                    <img src="{{ banner_5.file.url }}"
                                                         alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end container -->
        </main>

        {% include 'includes/footer.html' %}

    </div>
{% endblock %}
