{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="flex flex-col min-h-screen bg-background">


        <main class="flex-auto py-5">
            <div class="max-w-7xl space-y-14 px-4 mx-auto">

                <form id="examForm" method="post" action="{% url 'course:final_exam_submit' slug %}">
                    {% csrf_token %}

                    {% for answer in answers %}
                        <fieldset>
                            <legend>سوال {{ forloop.counter }}</legend>


                                <div>

                                    <input type="radio" id="1" name="question_{{ forloop.counter }}"
                                           value="1">
                                    <label for="1">1</label>

                                    <input type="radio" id="2" name="question_{{ forloop.counter }}"
                                           value="2">
                                    <label for="2">2</label>

                                    <input type="radio" id="3" name="question_{{ forloop.counter }}"
                                           value="3">
                                    <label for="3">3</label>
                                    <input type="radio" id="4" name="question_{{ forloop.counter }}"
                                           value="4">
                                    <label for="4">4</label>

                                </div>


                        </fieldset>
                        <hr>
                    {% endfor %}

                    <br>

                    <a href="#" id="saveTempBtn">
                        ذخیره سازی موقت
                    </a>

                    <button type="button" id="submitBtn"
                            class="w-full h-11 inline-flex items-center justify-center gap-1 bg-red-500 rounded-full text-primary-foreground hover:opacity-80 transition-all px-4">
                        <span class="line-clamp-1 font-semibold text-sm">ثبت نهایی</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor"
                             class="w-5 h-5">
                            <path fill-rule="evenodd"
                                  d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                    </button>
                </form>
            </div>
        </main>
        {% include 'includes/footer.html' %}

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('examForm');
            const submitBtn = document.getElementById('submitBtn');
            const saveTempBtn = document.getElementById('saveTempBtn');

            // Function to handle AJAX request for temporary save
            function saveTemporarily() {
                const formData = new FormData(form);

                fetch('{% url 'course:temp_exam_submit' slug %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        // Handle response from the server (if needed)
                        console.log(data);
                        Swal.fire({
                            title: 'ذخیره سازی موقت با موفقیت انجام شد',
                            icon: 'info',
                            confirmButtonText: 'باشه',
                            timer: 3000
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'خطا در ذخیره سازی موقت',
                            text: 'لطفاً دوباره تلاش کنید',
                            icon: 'error',
                            confirmButtonText: 'باشه',
                            timer: 3000
                        });
                    });
            }

            // Event listener for temporary save button
            saveTempBtn.addEventListener('click', function (e) {
                e.preventDefault(); // Prevent default anchor behavior
                saveTemporarily(); // Call the function to perform AJAX request
            });

            // Event listener for final submit button
            submitBtn.addEventListener('click', function () {
                Swal.fire({
                    title: 'آیا از ثبت نهایی اطمینان دارید؟',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله',
                    cancelButtonText: 'نه'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            });
        });
    </script>
{% endblock %}
