{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block content %}
    <div class="flex justify-center align-center mt-5 font-bold w-full">
        <p>زمان باقی مانده: </p>
        <p id="countdown">{{ time_left|format_seconds_to_time }}</p>
    </div>

    <div class="flex flex-col min-h-screen bg-background">

        {% for questions_and_answer in questions_and_answers %}

            <div class="mr-8">

                <p class="mb-3 mt-3">{{ forloop.counter }}) {{ questions_and_answer.question }}</p>

                {% if questions_and_answer|select_dictionary_item:"selected_answer" == questions_and_answer.answer_1 %}
                    <label>
                        <input checked type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_1 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_1 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_1 }}
                    </label>
                {% else %}
                    <label>
                        <input type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_1 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_1 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_1 }}
                    </label>
                {% endif %}

                <br>

                {% if questions_and_answer|select_dictionary_item:"selected_answer" == questions_and_answer.answer_2 %}
                    <label>
                        <input checked type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_2 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_2 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_2 }}
                    </label>
                {% else %}
                    <label>
                        <input type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_2 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_2 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_2 }}
                    </label>                {% endif %}

                <br>

                {% if questions_and_answer|select_dictionary_item:"selected_answer" == questions_and_answer.answer_3 %}
                    <label>
                        <input checked type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_3 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_3 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_3 }}
                    </label>
                {% else %}
                    <label>
                        <input type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_3 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_3 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_3 }}
                    </label>
                {% endif %}

                <br>

                {% if questions_and_answer|select_dictionary_item:"selected_answer" == questions_and_answer.answer_4 %}
                    <label>
                        <input checked type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_4 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_4 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_4 }}
                    </label>
                {% else %}
                    <label>
                        <input type="radio" name="answer_{{ questions_and_answer.id }}"
                               value="{{ questions_and_answer.answer_4 }}"
                               onclick="sendData('{{ questions_and_answer.question_number }}', '{{ questions_and_answer.answer_4 }}', '{{ questions_and_answer.slug }}')">
                        {{ questions_and_answer.answer_4 }}
                    </label>
                {% endif %}

                <br>
                <hr>

            </div>
        {% endfor %}

        <button onclick="confirmSubmission('{{ slug }}')"
                class="mr-8 ml-8 mt-8 mb-8 h-10 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
            <span class="line-clamp-1 font-semibold text-sm">ثبت نهایی آزمون</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                      d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>

    </div>

    <script src="{% static 'js/submit_exam_temp_answers.js' %}"></script>
    <script src="{% static 'js/ending_exam_confirmation.js' %}"></script>
    <script src="{% static 'js/exam_timer_countdown.js' %}"></script>
    <script>startCountdown('{{ time_left }}', '{{ slug }}');</script>


{% endblock %}